DATABASE_URL=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_HYPERLIQUID_ENV=testnet
NEXT_PUBLIC_ENABLE_MAINNET_TRADING=false
HYPERLIQUID_API_URL=https://api.hyperliquid-testnet.xyz
HYPERLIQUID_MAINNET_API_URL=https://api.hyperliquid.xyz
HYPERLIQUID_TESTNET_API_URL=https://api.hyperliquid-testnet.xyz
NEXT_PUBLIC_APP_NAME=Derived Perps
NEXT_PUBLIC_DEFAULT_COLLATERAL=USDC
